# PHPStorm
.idea

# Netbeans
/nbproject

# Config
config/config.php
config/config.php.dev

# Workbench backup
data/db/db_gabbler.mwb.bak

# public .htaccess
public/.htaccess

# public server info (delete this file at the end of work)
public/phpinfo.php