/*FOR THE ALL SITE*/
*{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    color:#495057;
}

/*CLASS COULEURS*/
.grey{
    background-color:#CED4DA;
}
.red{
    color: #E51537;
}

/*PAGE HOME_PAGE.HTML.TWIG*/
h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: 700;
}
li {
    padding: 5px;
}
textarea {
    height: 150px;
    max-height: 350px;
}
.extra-padding-50 {
    padding: 50px;
}
.LogoGabbler{
    margin-left: 30px;
}
.divPublic {
    background-color: #CED4DA;
    border-radius: 15px;
    padding-bottom: 15px;
}
.formHome{
    text-align: center;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
}
#button{
    text-align: center;
    font-size: 20px;
    padding: 3px;
    width: 110px;
    border: 2px solid #E51537;
    background-color: #CED4DA;
}
.bit-left {
    position: relative;
    right: 10%;
}
.more-left {
    position: relative;
    right: 20%;
}

/*PAGE HELP_PAGE.HTML.TWIG*/
.go-back{
    text-decoration: none;
    font-size: 4em;
    color: #495057;
    position: relative;
    bottom: 50px;
}

.go-back:hover{
    color: #495057;

/*PAGE ADMIN*/
#Disconnect{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 50%;
    height: 35px;
    color: black;
    border:2px solid #E51537;
    border-radius: 5%;
    background: #E9ECEF;
  }