{% extends "views/template_gabbler.html.twig" %}
{% block body %}
{% block header %}<h1>Help Form</h1>{% endblock %}
<hr>
{% block content %}
        <h1>Contact Us</h1>
       <form method="post" action="">
        <div>
            <label for="yourEmail">Your email</label>
            <br>
            <input  type="email" name="mail_help"
                   placeholder="Enter your email" required>
        </div>
        <div>
            <label for="yourName">Your name</label>
            <br>
            <input type="text" name="nickname_help" placeholder="Nickname"
                   required>
        </div>
        <div>
            <label for="subject">Subject</label>
            <br>
            <input type="text" name="subject_help" placeholder="Subject"
                   required>
        </div>
        <div>
            <label for="votreMessage">Votre message</label>
            <br>
            <textarea name="content_help" placeholder="Content" required></textarea>
        </div>
        <br>
        <button type="submit" value="send">send</button>
    </form>
    {% endblock %}