{% extends "template_gabbler.html.twig" %}

{% block header %}

<a href="./">
	<img class="LogoGabbler" src="img/RougeWhiteMode.png">
</a>

<h2>Help Form</h2><br>{% endblock %}

{% block content %}
<div class="formHelp">
    <h2 class="ContactUs">Contact Us</h2>
    {{ warning }}
    <form class="container1" method="post" action="">
        <div class="row mb-3">
            <label class="label" for="yourEmail">Your email</label>
            <br>
            <input  type="email" name="mail_help"
                    placeholder="Enter your email" required>
        </div>
        <div class="row mb-3">
            <label class="label" for="yourName">Your name</label>
            <br>
            <input type="text" name="nickname_help" placeholder="Nickname"
                   required>
        </div>
        <div class="row mb-3">
            <label class="label" for="subject">Subject</label>
            <br>
            <input type="text" name="subject_help" placeholder="Subject"
                   required>
        </div>
        <div class="row mb-3">
            <label class="label" for="votreMessage">Votre message</label>
            <br>
            <textarea name="content_help" placeholder="Content" required></textarea>
        </div>
        <br>
        <div class="row mb-3">
        <button class="m-auto" type="submit" name="sendHelp" id="button" value="send">send</button>
        </div>
    </form>
    </div>
    
{% endblock %}