//Calling the parent template:
{% extends "template_gabbler.html.twig" %}

//Importing macro/macros:
{% import "formMacro.twig" formComponent %}


//The first block to override is the header:
{% block header %}<h2>Here you will log in</h2><hr>{% endblock %}

//the second block to override is the center within the content:
{% block center %}
    <h2>Log in</h2>
        <form class = "container" method = "POST">
            {{formComponent.input("text","name","Full name","name")}}
            {{formComponent.input("password","password","Password","password")}}
            {{formComponent.input("password","password2","Confirm your password","password2")}}
            {{formComponent.input("email","email","Mail address","mailaddress")}}
        </form>
{% endblock %}
