{# base Twig template #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Gabbler{% endblock %}</title>
    {% block meta  %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}<h1>Gabbler</h1>{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>