{{% macro nameInput(name,label) %}}
    <div class="row">
        <label for="name" class="col-form-label">Full name</label>
        <input type="text" name="name" placeholder="Full name" id="name">
    </div>
{{% endmacro%}}

{{% macro passwordInput(name,label) %}}
    <div class="row">
        <label for="password" class="col-form-label">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
    </div>
{{% endmacro%}}


